img{
    height: 100px;
    width: 100px;
}
.selectedPage{
    font-weight: bold;
    color: white;
    
}
.pages span{

    border-radius: 5px;
    border: black solid 1px;
    background-color: gray;
    padding: 5px;
    margin: 3px;
} 