.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 20px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}

.profilePicture img{
    height: 40px;
    width: 40px;
    border-radius: 40px;
}

.rightAlign{
    text-align: right;
    padding-bottom: 15px;
}
button{
    
    padding:10px 50px;
}